/ {
	model = "Nordic nRF52840 DK NRF52840";
	compatible = "nordic,nrf52840-dk-nrf52840";

	aliases {
		pwmled = &pwm_led1;
		// pwmsound = &pwm_dev0;
	};
	pwmleds1 {
		compatible = "pwm-leds";
		status = "okay";
	
		pwm_led1: pwm_led_1 {
			status = "okay";
			pwms = <&pwm0 14>;
			label = "LED0 green";
		};
		
	};
	// pwmdevs {
	// 	compatible = "pwm-leds";
	// 	pwm_dev0:pwm_dev_0 {
	// 		pwms = <&pwm0 33>;
	// 	};
	// };
};

&pwm0 {
	status = "okay";
	ch0-pin = <14>;
	ch0-inverted;
};